<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Book</title>
</head>
<body>
<h1>Edit Book</h1>
<form action="#" th:action="@{/books/edit/{id}(id=${book.id})}" method="post">
    <input type="hidden" name="id" th:value="${book.id}" />

    <label>Title: <input type="text" name="title" th:value="${book.title}" required /></label><br/><br/>
    <label>Author: <input type="text" name="author" th:value="${book.author}" required /></label><br/><br/>
    <label>ISBN: <input type="text" name="isbn" th:value="${book.isbn}" /></label><br/><br/>
    <label>Price: <input type="number" step="0.01" name="price" th:value="${book.price}" required /></label><br/><br/>
    <label>Copies: <input type="number" name="copies" th:value="${book.copies}" required /></label><br/><br/>

    <button type="submit">Update Book</button>
</form>
<br/>
<a th:href="@{/books}">Back to List</a>
</body>
</html>